
body{
  background-image: url("./images/Object.png");
  background-repeat: no-repeat;
  background-size:contain;
  font-family: "Source Sans 3" , sans-serif;
  object-fit: contain;
  margin: 0;
  

}
nav{
  display: flex;
  flex-direction: row;
  flex: 500px 1;
}
ul{
  display: flex;
  flex-direction: row;
  flex:1;
  justify-content: end ;
  margin-top: 0;
  margin-right: 100px;


}
.logo{
padding: 30px 150px;
height: 30px;
width: 190px;


}
li{
  margin: 30px;
  color:white;
  list-style-type:none;
  font-size: 20px;
  font-weight: bold;
}
.link{
color: white;
text-decoration: none;
}
#title{
  text-align: center;
  font-size: 160px;
  color: white;
  margin-top: 170px;
  margin-bottom: 0px;
  height: 200px;
  
}

#spans{
  justify-content: center;
  display: flex;
}
span{
  color: white;
  margin: 0px 30px;
  font-size: 20px;
  font-weight: bold;
}
#main-button{
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}
#start-button{
  margin-top: 40px;
  width: 170px;
  height: 45px;
  background-color:rgb(194, 113, 255, 100%);
  border: none;
  border-radius: 20px;
  color: white;
  font-family: "Source Sans 3" , sans-serif;
  cursor: pointer;
  box-shadow: 1px 0px 20px 1px rgba(0, 0, 0, 0.692);
  
}
#start-button:hover{
  background-color:rgb(210, 158, 250) ;
  transition: 0.3s;
}
#learn-p{
  text-align: center;
  color: white;
  font-weight: lighter;
  margin-top: 220px;
  font-size: 40px;
  margin-bottom: 110px;
}
#s1{
  font-size: 40px;
  color: rgb(194, 113, 255, 100%);
  margin-right: 5px;
}
#pros{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
#bruce{
  border-radius: 75px;
}
#pros > div > h3 {
color: white;
margin-top: 5px;
text-align: center;
margin-bottom: 5px;

}
#pros > div > p {
color: white;
width: 150px;
text-align: center;
margin-top: 5px;
font-style: italic;
}
#section2{
background-color: rgb(194, 113, 255);
margin-top: 52px;
margin-left: 0;
width: 100%;
height: 400px;
display: flex;
flex-direction: row;
flex: 250px 1;
align-items: center;
}
#img5{
  align-items: center;
  margin-left: 280px;

}
#section2 > div >img {
  align-items: center;
  margin-left: 60px;
}
blockquote{
  margin: 0;
  width: 730px;
  color: rgb(255, 255, 255);
  font-size: 22px;
}
#blockq{
  margin-left: 80px;
}
#section2 > div >h3 {
  color: white;
}
#section2 > div > p {
  color: white;
  font-style: italic;

}
#section3{
  /*padding-left: 280px;*/
  height: 625px;

}
.popular_tutorials{
margin-left: 200px;
margin-right: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#section3 > h2{
text-align: center;
font-weight: 300;
margin-top: 70px;

margin-bottom: 60px;
font-size: 35px;


}
#popular{
  color: rgb(194, 113, 255);
  margin: 0;
  font-size: 35px;
}
.tutorials{
  
  display: inline-block;
  

  width: 350px;
  height: 200px;
  margin-bottom: 0;
}
.rating {
  display:flex;
  flex-direction: row;
  position: relative;
  bottom: 60px;
  left: 15px;
}
.rating i{
  margin: 5px;
  color: blueviolet;
}
.Phillip{
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-right: 15px;

  
}
.video{
  width: 300px;
}
.play{
  position: relative;
  top: -130px;
  left: 115px;
  width: 70px;

}
.Massey{
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 60px;
  left: 15px;
}
.Lorem{
  width: 250px;
  position: relative;
  bottom: 60px;
  left: 15px;
}
#section3  h3 {
  margin: 0px;
  position: relative;
  top: -60px;
  left: 15px;
}
.min {
  position: relative;
  bottom: 98px;
  left: 230px;
  color: blueviolet;
}
.Massey h4{
  color: blueviolet;
}
.rating :last-child i{
  color: #979797;
}
#section4{
  background-color: #071629;
  color: white;
  padding-top: 30px;
  height: 502px;
}
#section4 h2{
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  font-size: 32px;
  font-weight: 300;
}
#section4 h2 span{
  font-size: 32px;
  margin-right: 0;
  font-weight: 700;
  color: #C271FF;
}

.cards{
  display: flex;
  color: #fff ;
  padding-block: 8px;
  
  min-height: max-content;
  justify-content: center;

}
#section4 .cards div{
  align-items: center;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;

}
#section4 .cards div h3{
  font-size: 18px;
  margin: 20px;
}
#section4 .cards div p{
  width: 200px;
  font-size: 14px;
  line-height: 2;
}
#section4 button{
  background: #C271FF;
  border: 0;
  color: #fff;
  width: 162px;
  font-size: 14px;
  height: 44px;
  border-radius: 30px;
  font-weight: 400;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: 70px;
  
}
#section4 button:hover{
  box-shadow: 0px 2px 20px 0px rgba(136, 136, 136, 0.5);
  transition: 0.5s;

}
#section5 h2{
  text-align: center;
  margin-bottom: 0;
  margin-top: 60px;
  font-size: 60px;
  font-weight: 300;
}
#content{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;

}
#content div{
  width: 400px;
  padding-bottom: 20px;

  
}
#content div div:last-child{
  height: 242px;
  font-size: 16px;
  
}
#content div div h3{
  margin: 100px 0 25px 0;
  font-size: 18px ;
}

footer{
  background-color: #071629;
  height: 250px;
  color: white;


}
footer section div {
  display: flex;
  flex-direction: row;
  justify-content: space-around ;
  align-items: center;
}

footer section div img{
  width: 200px;
  margin-top: 100px;
}
footer section :last-child{
  text-align: center;
}
footer section div div {
margin-top: 100px;

}
footer section div div i{

  margin: 10px;
  color: #071629;
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
}
footer section div div i::before{
  position: relative;
  top: 6px;
  
}

footer section p{
  margin-top: 45px;
  color: #979797;
}







